<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h3 style="text-align: center">Laporan Penjadwalan Pembelian Barang</h3>
    <h4 style="text-align: center">Nama Alamat Toko</h4>
    <h4 style="text-align: center">Periode : 14/04/2021 - 18/04/2021</h4>
    <center>
        <table border="1" style="width:900px; height:400px">
            <thead style="background-color:#e1e2e3">
                <tr>
                    <th>Barang ID</th>
                    <th>Pemasok ID</th>
                    <th>Nama Barang</th>
                    <th>Jumlah Pembelian Barang</th>
                    <th>Tanggal Pembelian</th>
                    <th>Nama Pegawai</th>
                    <th>Total Harga Pembelian</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1234</td>
                    <td>5678</td>
                    <td>Kaos Polo Cole</td>
                    <td>20</td>
                    <td>21/04/2021</td>
                    <td>Tejo</td>
                    <td>1.000.000</td>
                </tr>
                <tr>
                    <td>1235</td>
                    <td>5679</td>
                    <td>Hem Endbardo</td>
                    <td>20</td>
                    <td>21/04/2021</td>
                    <td>Tejo</td>
                    <td>1.000.000</td>
                </tr>
                <tr>
                    <td>1236</td>
                    <td>5680</td>
                    <td>Kaos T Home</td>
                    <td>20</td>
                    <td>21/04/2021</td>
                    <td>Tejo</td>
                    <td>1.000.000</td>
                </tr>
            </tbody>
            <tfoot style="background-color:#e1e2e3">
                <tr>
                    <td colspan="6" style="text-align:center">Total</td>
                    <td>3.000.000</td>
                </tr>
            </tfoot>
        </table>
    </center>
</body>

</html>
